<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="stylesheet" type="text/css" href="/admin/AdminHome.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">홈</div>
            <div class="greeting">반가워요, 관리자 님! 🎉</div>
            <a href="/admin/notice" class="notification">
                <img src="/images/Bell.png" alt="bell" class="bell-icon">
            </a>
        </div>

        <div class="matches-section">
            <div class="matches-title">서비스 사용자 통계</div>
            <div class="matches-stats">
                <div class="stats-box">
                    <div class="stats-label">전체 사용자</div>
                    <div class="stats-value" id="stats-value">-</div>
                </div>
                <div class="stats-box">
                    <div class="stats-label">주요 연령대</div>
                    <div class="stats-value blue-text" id="blue-text">-</div>
                </div>
            </div>
        </div>

        <div class="navigation">
            <a href="/admin" class="nav-item active">
                <img src="/images/home1.png" alt="" class="icon">
                홈
            </a>
            <a href="/admin/notice" class="nav-item">
                <img src="/images/Note.png" alt="" class="icon">
                공지사항
            </a>
        </div>
    </div>

    <script>
        const token = window.localStorage.getItem('AT');
        const statsValue = document.getElementById('stats-value');
        const blueText = document.getElementById('blue-text');

        data();
        function data() {
            fetch('/admin/statistics', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data);
                statsValue.textContent = `${data.result.allUsers}명`;
                blueText.textContent = `${data.result.age}세`;
            }).catch(error => console.log(error));
        }
    </script>
</body>
</html>
