<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="stylesheet" type="text/css" href="/admin/AdminNoticeRegister.css">
</head>
<body>
    <div class="header">공지사항 작성</div>

    <div class="form-container">
        <input type="text" class="input-title" placeholder="제목을 입력해주세요" id="title-input">
        <textarea class="input-content" placeholder="내용을 입력해주세요" id="content-input"></textarea>
        <div class="file-upload">
            <label class="file-upload-label">썸네일 사진을 올려주세요</label>
            <input type="file" accept="image/*" onchange="previewImage(this);">
            <img class="file-upload-preview" id="preview">
        </div>
        <button class="submit-btn" onclick="createNotice()">등록하기</button>
    </div>

    <div class="nav-bar">
        <a href="/AdminHome.html" class="nav-item">
            <img src="/images/Home.png" alt="" class="nav-icon">
            <div>홈</div>
        </a>
        <a href="/AdminNotice.html" class="nav-item nav-active">
            <img src="/images/taking1.png" alt="" class="nav-icon">
            <div>공지사항</div>
        </a>
    </div>

    <script>
        const token = window.localStorage.getItem('AT');
        const titleInput = document.getElementById('title-input');
        const contentInput = document.getElementById('content-input');

        let formData = new FormData();
        function previewImage(input) {
            // const preview = document.getElementById('preview');
            const label = document.querySelector('.file-upload-label');

            const file = input.files[0];
            if (input.files && file) {
                const reader = new FileReader();
                reader.onload = function() { label.textContent = file.name; }
                reader.readAsDataURL(file);
            }
            formData.append('file', file, file.name);
            console.log(file);
        }

        async function getS3ProfileImageUrl() {
            let s3ImageUrl = null;
            /**
             * @TODO 프로필 사진 업로드 API 호출
             */
            await fetch(`/s3/upload`, {
                method: 'POST',
                body: formData
            }).then(response => response.json()).then(data => {
                console.log(data.result.s3Url);
                s3ImageUrl = data.result.s3Url;
            }).catch(error => {
                console.log(error);
                s3ImageUrl = null;
            });

            return s3ImageUrl;
        }

        async function createNotice() {
            console.log(`제목: ${titleInput.value}, 내용: ${contentInput.value}`);
            const s3Url = await getS3ProfileImageUrl();

            /**
             * @TODO 공지사항 등록 API 호출
             */
            fetch(`/notice/create`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({
                    thumbnail_url: s3Url,
                    title: titleInput.value,
                    content: contentInput.value,
                })
            }).then(response => response.json()).then(data => {
                console.log(data);
            }).catch(error => console.log(error));

            window.location.href = '/admin/notice';
        }
    </script>
</body>
</html>
