<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    <link rel="stylesheet" href="/user/ChatList.css">
</head>
<body>
    <h2 class="header">채팅</h2>
    <h3 class="subheader">채팅 목록</h3>

    <div class="card-container" id="card-container">
        <div class="card-div" id="card-div">
            <p class="card-p" id="card-p">진행중인 채팅이 없어요 🥲</p>
        </div>
    </div>

    <div class="navigation">
        <a href="/recommend" class="nav-item">
            <img src="/images/Friends.png" alt="" class="icon">
            친구 추천
        </a>
        <a href="/request/list" class="nav-item">
            <img src="/images/Love.png" alt="" class="icon">
            친구 요청
        </a>
        <a href="/" class="nav-item">
            <img src="/images/Home.png" alt="" class="icon">
            홈
        </a>
        <a href="/chat/list" class="nav-item active">
            <img src="/images/chat1.png" alt="" class="icon">
            채팅
        </a>
        <a href="/my" class="nav-item">
            <img src="/images/User.png" alt="" class="icon">
            마이페이지
        </a>
    </div>

    <script>
        const token = localStorage.getItem("AT");
        let memberDataList = [];
        let memberId = null;

        memberData();
        async function memberData() {
            /**
             * @TODO 채팅 목록 조회 API 호출
             */
            await fetch(`/member`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data.result);
                memberId = data.result.memberId;
            }).catch(error => console.log(error));

            await fetch(`/chat/rooms`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data.result);

                if (data.result.length === 0) setMemberElement(null);
                else {
                    data.result.forEach(member => {
                        /**
                         * @TODO 회원 기본 정보 조회 API 호출
                         */
                        fetch(`/member/${member.friendId}`, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer ${token}`
                            }
                        }).then(response => response.json()).then(res => {
                            console.log(res.result);

                            let json = {
                                roomId: member.roomId,
                                friendId: res.result.memberId,
                                profileUrl: res.result.profileUrl,
                                name: res.result.nickName
                            };
                            setMemberElement(json);
                        }).catch(error => console.log(error));
                    });
                }
            }).catch(error => console.log(error));
        }

        async function setMemberElement(data) {
            const cardP = document.getElementById("card-p");
            const cardDiv = document.getElementById('card-div');
            if(data === null) {
                cardP.style.display = 'flex';
                cardDiv.style.display = 'flex';
            } else {
                const card = document.getElementById('card-container');
                console.log(memberDataList);
                const chatCard = document.createElement('div');
                chatCard.className = 'chat-card';
                chatCard.id = 'chat-card';

                const profilePic = document.createElement('div');
                profilePic.className = 'profile-pic bear-profile';

                const profileImg = document.createElement('img');
                profileImg.src = data.profileUrl;
                profileImg.alt = 'profile-icon';
                profileImg.id = 'profile-icon';

                const chatInfo = document.createElement('div');
                chatInfo.className = 'chat-info';

                const chatName = document.createElement('div');
                chatName.className = 'chat-name';
                chatName.id = 'chat-name';
                chatName.textContent = data.name;
                chatName.onclick = function() {
                    window.location.href = `/chat/content/${data.roomId}/${data.friendId}/${memberId}`;
                };

                const deleteBtn = document.createElement('a');
                deleteBtn.href = '#';
                deleteBtn.className = 'status';
                deleteBtn.id = 'delete-btn';
                deleteBtn.textContent = '삭제';
                deleteBtn.onclick = function() {
                    /**
                     * @TODO 채팅방 삭제 API 호출
                     */
                    fetch(`/chat/delete?roomId=${data.roomId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${token}`
                        }
                    }).then(response => response.json()).then(data => {
                        console.log(data);
                    }).catch(error => console.log(error));
                    window.location.href = '/chat/list';
                };

                profilePic.appendChild(profileImg);
                chatInfo.appendChild(chatName);

                chatCard.appendChild(profilePic);
                chatCard.appendChild(chatInfo);
                chatCard.appendChild(deleteBtn);
                card.appendChild(chatCard);
            }
        }
    </script>
</body>
</html>
