<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/user/FriendRecommend.css">
</head>
<body>
    <h2 class="header">친구 추천</h2>
    <h3 class="subheader">추천 목록</h3>

    <div class="card" id="card"></div>
    <div class="navigation">
        <a href="/recommend" class="nav-item active">
            <img src="/images/friends1.png" alt="" class="icon">
            친구 추천
        </a>
        <a href="/request/list" class="nav-item">
            <img src="/images/Love.png" alt="" class="icon">
            친구 요청
        </a>
        <a href="/" class="nav-item">
            <img src="/images/Home.png" alt="" class="icon">
            홈
        </a>
        <a href="/chat/list" class="nav-item">
            <img src="/images/Chat.png" alt="" class="icon">
            채팅
        </a>
        <a href="/my" class="nav-item">
            <img src="/images/User.png" alt="" class="icon">
            마이페이지
        </a>
    </div>

    <script th:inline="javascript">
        const token = window.localStorage.getItem("AT");
        const container = document.getElementById('container');
        let friendDataList = [];
        let count = 0;

        friendDatas();
        async function friendDatas() {
            /**
             * @TODO 친구 추천 API 호출
             */
            await fetch('/recommend/friend', {
                method: 'GET',
                headers: { 'Authorization': `Bearer ${token}` }
            }).then(response => response.json()).then(data => {
                console.log(data.result);

                let interestEnumValue = null;
                let interest = '';
                data.result.forEach(member => {
                    member.interests.forEach((i, number) => {
                        switch (i) {
                            case 'MUSIC':
                                interestEnumValue = '음악';
                                break;
                            case 'GAME':
                                interestEnumValue = '게임';
                                break;
                            case 'MOVIEDRAMA':
                                interestEnumValue = '영화/드라마';
                                break;
                            case 'READING':
                                interestEnumValue = '독서';
                                break;
                            case 'ART':
                                interestEnumValue = '예술';
                                break;
                            case 'WORKOUT':
                                interestEnumValue = '운동';
                                break;
                            case 'TRAVEL':
                                interestEnumValue = '여행';
                                break;
                            case 'FOODEXPLORATION':
                                interestEnumValue = '맛집 탐방';
                                break;
                            case 'IT':
                                interestEnumValue = 'IT';
                                break;
                        }
                        if (number !== member.interests.length - 1) interest += `${interestEnumValue}, `;
                        else interest += `${interestEnumValue}`;
                    });

                    friendDataList.push({
                        friendId: member.friendId,
                        profileUrl: member.profileUrl,
                        nickName: member.nickName,
                        age: member.age,
                        gender: member.gender,
                        introduction: member.introduction,
                        interest: interest,
                        suitable: member.fitness,
                    });
                    interest = '';
                });
            }).catch(error => console.log(error));
            setMemberElement();
            count = 0;
        }

        const html = document.querySelector('html');
        function setMemberElement() {
            const card = document.getElementById('card');
            friendDataList.forEach((data, number) => {
                const friendCard = document.createElement('div');
                friendCard.className = 'friend-card';

                const profilePicDiv = document.createElement('div');
                profilePicDiv.className = 'profile-pic bear-profile';

                const profileImg = document.createElement('img');
                profileImg.src = data.profileUrl;
                profileImg.alt = 'profile-icon';
                profileImg.id = `profileImage${number}`;
                profilePicDiv.appendChild(profileImg);

                const userInfoDiv = document.createElement('div');
                userInfoDiv.className = 'user-info';

                const userNameDiv = document.createElement('div');
                userNameDiv.className = 'user-name';

                const nameP = document.createElement('p');
                nameP.id = `name${number}`;
                nameP.textContent = data.nickName;

                const genderAgeSpan = document.createElement('span');
                genderAgeSpan.id = `genderAndAge${number}`;
                genderAgeSpan.textContent = `${data.gender} (${data.age})`;

                userNameDiv.appendChild(nameP);
                userNameDiv.appendChild(genderAgeSpan);

                const userBioDiv = document.createElement('div');
                userBioDiv.className = 'user-bio';
                userBioDiv.id = `introduction${number}`;
                userBioDiv.textContent = data.introduction;

                const categoryDiv = document.createElement('div');
                categoryDiv.className = 'category';

                const interestIcon = document.createElement('img');
                interestIcon.src = '/images/Interest-Icon.png';
                interestIcon.alt = 'interest-icon';

                const interestP = document.createElement('p');
                interestP.className = 'interest';
                interestP.id = `interest${number}`;
                interestP.textContent = data.interest;
                interestP.style.fontSize = '14px';

                categoryDiv.appendChild(interestIcon);
                categoryDiv.appendChild(interestP);

                userInfoDiv.appendChild(userNameDiv);
                userInfoDiv.appendChild(userBioDiv);
                userInfoDiv.appendChild(categoryDiv);

                const matchButtonDiv = document.createElement('div');
                matchButtonDiv.className = 'match-rate-and-button';

                const matchRateDiv = document.createElement('div');
                matchRateDiv.className = 'match-rate';
                matchRateDiv.id = `suitable${number}`;
                matchRateDiv.textContent = `적합도 ${data.suitable}%`;

                const detailBtn = document.createElement('button');
                detailBtn.className = 'detail-btn';
                detailBtn.textContent = '상세 정보';
                detailBtn.onclick = () => {
                    location.href = `/friend/detail/${data.friendId}/${data.suitable}`;
                };

                matchButtonDiv.appendChild(matchRateDiv);
                matchButtonDiv.appendChild(detailBtn);

                friendCard.appendChild(profilePicDiv);
                friendCard.appendChild(userInfoDiv);
                friendCard.appendChild(matchButtonDiv);
                card.appendChild(friendCard);

                count += 50;
                html.style.height = `calc(100% + ${count}px)`;
            });
        }

        setMemberElement();
    </script>
</body>
</html>