<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/user/FriendRequestDetails.css">
</head>
<body>
    <div class="header">
        <a href="/request/list">
            <img src="/images/Left.png" alt="x" class="close-btn">
        </a>
        <h3>친구 요청 목록</h3>
    </div>

    <div class="profile-container" id="container">
        <div class="profile-header">
            <div class="profile-pic-container">
                <img src="/images/ProfileImage.png" class="profile-pic" id="profile">
            </div>
            <div class="profile-info-main">
                <div class="profile-info">
                    <div class="user-name">
                        <p id="name">-</p>
                        <span class="user-gender-age" id="gender-and-age">-</span>
                    </div>
                    <p class="user-bio" id="user-bio">-</p>
                </div>
                <div class="interest-tag">
                    <img src="/images/Interest-Icon.png" class="interest-icon">
                    <span id="interest" class="interest">-</span>
                </div>
            </div>
        </div>

        <div class="profile-sections">
            <div class="section">
                <div class="section-title">성격 유형</div>
                <div class="section-content" id="personality">-</div>
            </div>
            <div class="section">
                <div class="section-title">대화 스타일</div>
                <div class="section-content" id="talk-style">-</div>
            </div>
            <div class="section">
                <div class="section-title">원하는 친구 스타일</div>
                <div class="section-content" id="friend-style">-</div>
            </div>
            <div class="section">
                <div class="section-title">원하는 관계 정도</div>
                <div class="section-content" id="relationship-depth">-</div>
            </div>
            <div class="section">
                <div class="section-title">음성 / 영상 대화 가능 여부</div>
                <div class="section-content" id="online">-</div>
            </div>
            <div class="section">
                <div class="section-title">오프라인 만남 여부</div>
                <div class="section-content" id="offline">-</div>
            </div>
            <div class="section">
                <div class="section-title">관심사 선호도</div>
                <div class="section-content" id="interest-preference">-</div>
            </div>
            <div class="section">
                <div class="section-title">관심사 레벨</div>
                <div class="section-content" id="interest-level">-</div>
            </div>
        </div>

        <p class="note">* 친구 맺을 시 채팅이 가능합니다.</p>

        <button class="send-request-btn1" onclick="refuse()">거절</button>
        <button class="send-request-btn2" onclick="approval()">친구 맺기</button>
    </div>

    <script th:inline="javascript">
        const token = window.localStorage.getItem('AT');
        const friendId = [[${friendId}]];

        const profile = document.getElementById('profile');
        const genderAndAge = document.getElementById('gender-and-age');
        const nickName = document.getElementById('name');
        const introduction = document.getElementById('user-bio');

        const interest = document.getElementById('interest');
        const personality = document.getElementById('personality');
        const talkStyle = document.getElementById('talk-style');
        const friendStyle = document.getElementById('friend-style');
        const relationshipDepth = document.getElementById('relationship-depth');
        const online = document.getElementById('online');
        const offline = document.getElementById('offline');
        const interestPreference = document.getElementById('interest-preference');
        const interestLevel = document.getElementById('interest-level');

        getFriendDetailData();
        document.addEventListener('DOMContentLoaded', () => {
            const container = document.getElementById('container');
            container.classList.add('active');
        });

        let interestEnumValues = [];
        let talkStyleEnumValues = [];
        let friendStylesEnumValues = [];
        let personalityTypeEnumValues = [];
        let offlineTalkStyleEnumValues = [];
        let onlineTalkStyleEnumValues = [];
        let relationshipDepthEnumValues = [];
        let interestPreferenceEnumValues = [];
        let interestLevelEnumValues = [];

        let dataList = [];
        async function callEnumValue(item, list, values) {
            /**
             * @TODO 회원 상세 Enum API 호출
             */
            await fetch(`/enum/${item}`, {
                method: 'GET',
            }).then(response => response.json()).then(data => {
                list.forEach(element => {
                    data.result.forEach(i => {
                        if (element === i.code) values.push(i.value);
                    });
                })
            }).catch(error => console.log(error));
            console.log(values);

            switch (item) {
                case 'interest': detailInfor(values, interest); break;
                case 'talk-style': detailInfor(values, talkStyle); break;
                case 'friend-style': detailInfor(values, friendStyle); break;
                case 'personality-type': detailInfor(values, personality); break;
                case 'offline-meeting': detailInfor(values, offline); break;
                case 'online-talk-style': detailInfor(values, online); break;
                case 'relationship-depth': detailInfor(values, relationshipDepth); break;
                case 'interest-preference': detailInfor(values, interestPreference); break;
                case 'interest-level': detailInfor(values, interestLevel); break;
            }
        }

        function detailInfor(values, element) {
            let textVale = '';
            values.forEach((value, number) => {
                if (number !== values.length - 1) textVale += `${value}, `;
                else textVale += `${value}`;
            });
            element.textContent = textVale;
        }

        const typeList = ['interest', 'talk-style', 'friend-style', 'personality-type', 'offline-meeting', 'online-talk-style', 'relationship-depth', 'interest-preference', 'interest-level'];
        async function getFriendDetailEnum(data) {
            dataList = [
                data.result.interests, data.result.talkStyles, data.result.friendStyles,
                data.result.personalityTypes, data.result.offlineTalkStyles, data.result.onlineTalkStyles,
                data.result.relationshipDepth, data.result.interestPreference, data.result.interestLevel,
            ];

            typeList.forEach((type, number) => {
                switch (type) {
                    case 'interest': callEnumValue(type, dataList[number], interestEnumValues); break;
                    case 'talk-style': callEnumValue(type, dataList[number], talkStyleEnumValues); break;
                    case 'friend-style': callEnumValue(type, dataList[number], friendStylesEnumValues); break;
                    case 'personality-type': callEnumValue(type, dataList[number], personalityTypeEnumValues); break;
                    case 'offline-meeting': callEnumValue(type, dataList[number], offlineTalkStyleEnumValues); break;
                    case 'online-talk-style': callEnumValue(type, dataList[number], onlineTalkStyleEnumValues); break;
                    case 'relationship-depth': callEnumValue(type, dataList[number], relationshipDepthEnumValues); break;
                    case 'interest-preference': callEnumValue(type, dataList[number], interestPreferenceEnumValues); break;
                    case 'interest-level': callEnumValue(type, dataList[number], interestLevelEnumValues); break;
                }
            });
        }

        async function getFriendDetailData() {
            /**
             * @TODO 회원 상세 정보 조회 API 호출
             */
            await fetch(`/member/detail?memberId=${friendId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then((data) => {
                console.log(data.result);

                // 회원 기존 정보
                profile.src = data.result.profileUrl;
                genderAndAge.textContent = `${data.result.gender} (${data.result.age})`;
                nickName.textContent = data.result.nickName;
                introduction.textContent = data.result.introduction;

                // 회원 상세 정보
                getFriendDetailEnum(data);
            }).catch(error => console.log(error));
        }

        let approvalCode = null;
        let refuseCode = null;
        async function callMatchingStatusEnums() {
            /**
             * @TODO 매칭 상태 Enum API 호출
             */
            await fetch(`/enum/matching-status`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            }).then(response => response.json()).then(data => {
                console.log(data.result);
                approvalCode = data.result[1].code;
                refuseCode = data.result[2].code;
            }).catch(error => console.log(error));
        }
        callMatchingStatusEnums();

        async function approval() {
            /**
             * @TODO 매칭 상태 변경 API 호출
             */
            await fetch(`/matching/status/update`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({
                    friendId: friendId,
                    status: approvalCode
                })
            }).then(response => response.json()).then(data => {
                console.log(data.result);
            }).catch(error => console.log(error));

            alert('축하해요! 홍길동님과 친구가 되었어요');
            window.location.href = '/request/list';
        }

        async function refuse() {
            /**
             * @TODO 매칭 상태 변경 API 호출
             */
            await fetch(`/matching/status/update`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({
                    friendId: friendId,
                    status: refuseCode
                })
            }).then(response => response.json()).then(data => {
                console.log(data.result);
            }).catch(error => console.log(error));

            alert('거절하였습니다.');
            window.location.href = '/request/list';
        }
    </script>
</body>
</html>
