<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/user/JoinSecond.css">
</head>
<body>
    <div class="container">
        <progress value="60" max="100" id="progress"></progress>
        <h1>기본 정보를 입력해주세요</h1>

        <div class="form-content">
            <div class="profile-section">
                <img src="/images/ProfileImage.png" alt="profile-image" id="profile-icon">
                <form id="uploadForm" action="/upload-profile" method="post" enctype="multipart/form-data" style="display: none;">
                    <input type="file" name="profileImage" id="formFileInput">
                </form>
                <button class="upload-btn" onclick="document.getElementById('formFileInput').click()">사진 등록하기</button>
            </div>

            <div class="form-group">
                <label>닉네임 <span class="required">*</span></label>
                <input type="text" id="name-input" placeholder="이름을 입력해주세요" required>
            </div>

            <div class="form-group">
                <label>나이 <span class="required">*</span></label>
                <input type="text" id="age-input" placeholder="나이를 입력해주세요" required>
            </div>

            <div class="form-group">
                <label>성별 <span class="required">*</span></label>
                <select id="gender-input" required>
                    <option value="male">남자</option>
                    <option value="female">여자</option>
                </select>
            </div>

            <div class="form-group">
                <label>한줄 소개 <span class="helper-text">(선택 사항)</span></label>
                <textarea id="introduction-input" placeholder="한줄 소개를 입력해주세요"></textarea>
            </div>
        </div>

        <div class="button-container">
            <button class="prev-button" onclick="prevPage()">이전</button>
            <button class="next-button" onclick="nextJoin()">다음</button>
        </div>
    </div>

    <script th:inline="javascript">
        const token = window.localStorage.getItem('AT');

        const memberId = [[${memberId}]];
        const progress = document.getElementById('progress');
        if (memberId === 'null' || memberId === null) progress.value = '60';
        else progress.value = '8';

        const name = document.getElementById('name-input');
        const age = document.getElementById('age-input');
        const gender = document.getElementById('gender-input');
        const introduction = document.getElementById('introduction-input');
        const profileImage = document.getElementById('profile-icon');

        let imageUrl = null;

        getMemberData();
        async function getMemberData() {
            /**
             * @TODO 회원 기본 정보 조회 API 호출
             */
            await fetch(`/member`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data.result);

                imageUrl = data.result.profileUrl;
                profileImage.src = data.result.profileUrl;
                name.value = data.result.nickName;
                age.value = data.result.age;

                switch (data.result.gender) {
                    case 'MAN': gender.options[0].text = '남자'; break;
                    case 'FEMALE': gender.options[1].text = '여자'; break;
                }
                introduction.value = data.result.introduction;
            }).catch(error => console.log(error));
        }

        let formData = new FormData();
        document.getElementById('formFileInput').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) { document.getElementById('profile-icon').src = e.target.result; };
                reader.readAsDataURL(file);
            }
            formData.append('file', file, file.name);
        });

        async function getS3ProfileImageUrl() {
            if (!formData.has('file')) return imageUrl;
            let s3ImageUrl = null;
            /**
             * @TODO 프로필 사진 업로드 API 호출
             */
            await fetch(`/s3/upload`, {
                method: 'POST',
                body: formData
            }).then(response => response.json()).then(data => {
                console.log(data.result.s3Url);
                s3ImageUrl = data.result.s3Url;
            }).catch(error => {
                console.log(error);
                s3ImageUrl = null;
            });

            return s3ImageUrl;
        }

        async function nextJoin() {
            if(name.value === '' || age.value === '') {
                alert('필수 입력 항목을 확인해주세요');
                return;
            }

            let genderEnumValue = null;
            switch (gender.value) {
                case 'male':
                    genderEnumValue = 'MAN';
                    break;
                case 'female':
                    genderEnumValue = 'FEMALE';
                    break;
            }

            const s3Url = await getS3ProfileImageUrl();
            window.localStorage.setItem('secondData', JSON.stringify({
                profileUrl: s3Url,
                nickName: name.value,
                age: age.value,
                gender: genderEnumValue,
                introduction: introduction.value
            }));
            window.location.href = `/join-3/${memberId}`;
        }

        function prevPage() {
            if (memberId === 'null' || memberId === null) window.location.href = '/join-1';
            else window.location.href = '/my';
        }
    </script>
</body>
</html>
