<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/user/JoinThird.css">
</head>
<body>
    <div class="container">
        <progress value="90" max="100" id="progress"></progress>
        <h1>당신의 관심사가<br>무엇인가요?</h1>
        <div class="subtitle">저는 이런 관심사가 있어요! <span class="required">*</span></div>
        <div class="description">선택한 관심사에 따라 맞춤형 컨텐츠 추천해요 (복수 선택 가능)</div>

        <div class="option-list">
            <div class="option" id="option-1" onclick="choice(this)">
                <div class="option-icon">🎮</div>
                <div class="option-text">게임 (콘솔, PC, 모바일 등)</div>
            </div>

            <div class="option" id="option-2" onclick="choice(this)">
                <div class="option-icon">🎬</div>
                <div class="option-text">영화 & 드라마 (액션, 로맨스, SF 등)</div>
            </div>

            <div class="option" id="option-3" onclick="choice(this)">
                <div class="option-icon">📚</div>
                <div class="option-text">독서 (소설, 인문학, 자기계발 등)</div>
            </div>

            <div class="option" id="option-4" onclick="choice(this)">
                <div class="option-icon">💪</div>
                <div class="option-text">운동 (헬스, 러닝, 요가, 클라이밍 등)</div>
            </div>

            <div class="option" id="option-5" onclick="choice(this)">
                <div class="option-icon">🎨</div>
                <div class="option-text">예술 (그림, 글쓰기, 사진, 영상 등)</div>
            </div>

            <div class="option" id="option-6" onclick="choice(this)">
                <div class="option-icon">✈️</div>
                <div class="option-text">여행 (국내, 해외, 배낭여행 등)</div>
            </div>

            <div class="option selected" id="option-7" onclick="choice(this)">
                <div class="option-icon">💻</div>
                <div class="option-text">IT (코딩, 시스템, 네트워크 등)</div>
            </div>

            <div class="option" id="option-8" onclick="choice(this)">
                <div class="option-icon">🎸</div>
                <div class="option-text">음악 (팝, 힙합, 록, 재즈, 클래식 등)</div>
            </div>

            <div class="option" id="option-9" onclick="choice(this)">
                <div class="option-icon">🍔</div>
                <div class="option-text">맛집 탐방 (카페, 한식, 양식 등)</div>
            </div>
        </div>

        <div class="button-container">
            <button class="prev-button" onclick="prevPage()">이전</button>
            <button class="next-button" onclick="nextJoin()" id="next-button">회원가입 완료</button>
        </div>
    </div>

    <script th:inline="javascript">
        const memberId = [[${memberId}]];
        const progress = document.getElementById('progress');
        if (memberId === 'null' || memberId === null) progress.value = '90';
        else {
            const nextButton = document.getElementById('next-button');
            nextButton.textContent = '다음';
            progress.value = '18';
        }

        let data = [];
        function choice(option) {
            let isDedication = false;
            data.forEach((element, number) => {
                if(option.id === element.id) {
                    data.splice(number, 1);
                    option.style.backgroundColor = '#FFFFFF';
                    option.style.border = '1px solid #E0E0E0';

                    isDedication = true;
                }
            });

            if(!isDedication) {
                const item = document.getElementById(option.id);
                item.style.backgroundColor = '#E6F0FF';
                item.style.border = '1px solid #6CA5FF';

                data.push({
                    id: item.id,
                    item: item.innerText
                });
            }
        }

        document.addEventListener('DOMContentLoaded', function(event) {
            const item = window.localStorage.getItem('thirdMemberData');
            if(item !== null) {
                JSON.parse(item).data.forEach(element => {
                    const optionItem = document.getElementById(element.id);
                    optionItem.style.backgroundColor = '#E6F0FF';
                    optionItem.style.border = '1px solid #6CA5FF';

                    data.push({
                        id: element.id,
                        item: optionItem.innerText
                    });
                });
            }
        });

        function singleDataParse(i) {
            return JSON.parse(window.localStorage.getItem(i));
        }

        async function nextJoin() {
            if(data.length === 0) {
                alert('관심사를 선택해주세요.');
                return;
            }
            window.localStorage.setItem('thirdData', JSON.stringify({data}));

            let count = ['firstData', 'secondData', 'thirdData'];
            let requestBody = {};

            let interestEnumList = [];
            await fetch('/enum/interest', {
                method: 'GET',
            }).then(response => response.json()).then(data => {
                data.result.forEach(interest => interestEnumList.push(interest.code));
            }).catch(error => console.log(error));

            count.forEach((i, j) => {
                switch(j) {
                    case 0: {
                        if (memberId === 'null' || memberId === null) {
                            requestBody.memberId = singleDataParse('firstData').memberId;
                            requestBody.password = singleDataParse('firstData').password;
                        }
                    } break;
                    case 1: {
                        requestBody.profileUrl = singleDataParse('secondData').profileUrl;
                        requestBody.nickName = singleDataParse('secondData').nickName;
                        requestBody.age = singleDataParse('secondData').age;
                        requestBody.gender = singleDataParse('secondData').gender;
                        requestBody.introduction = singleDataParse('secondData').introduction;
                    } break;
                    case 2: {
                        let listData = [];
                        JSON.parse(window.localStorage.getItem('thirdData')).data.forEach(element => {
                            switch (element.id) {
                                case 'option-1': listData.push(interestEnumList[1]); break;
                                case 'option-2': listData.push(interestEnumList[2]); break;
                                case 'option-3': listData.push(interestEnumList[3]); break;
                                case 'option-4': listData.push(interestEnumList[5]); break;
                                case 'option-5': listData.push(interestEnumList[4]); break;
                                case 'option-6': listData.push(interestEnumList[6]); break;
                                case 'option-7': listData.push(interestEnumList[8]); break;
                                case 'option-8': listData.push(interestEnumList[0]); break;
                                case 'option-9': listData.push(interestEnumList[7]); break;
                            }
                        });
                        requestBody.interests = listData;
                    }
                }
            });

            if (memberId === 'null' || memberId === null) {
                await fetch('/member/create', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    contentType: 'application/json',
                    body: JSON.stringify(requestBody)
                }).then(response => response.json()).then(data => {
                    console.log(data);
                    count.forEach(value => {
                        window.localStorage.removeItem(value);
                        window.localStorage.removeItem(value);
                        window.localStorage.removeItem(value);
                    });

                    window.location.href = '/login';
                }).catch(error => console.log(error));
            } else window.location.href = `/detail-1/${memberId}`;
        }

        function prevPage() {
            if (memberId === 'null' || memberId === null) window.location.href = `/join-2/null`;
            else window.location.href = `/join-2/${memberId}`;
        }
    </script>
</body>
</html>
