<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="stylesheet" type="text/css" href="/user/Login.css"/>
</head>
<body>
    <div class="logo"><img src="/images/Logo.png"  alt="service-logo" class="service-logo"></div>
    <div class="service-name">Katsee</div>

    <div class="input-label">아이디</div>
    <input type="text" class="input-field" id="user-id-input" placeholder="아이디를 입력해주세요">
    <div class="input-label">비밀번호</div>
    <input type="password" class="input-field" id="user-password-input" placeholder="비밀번호를 입력해주세요">

    <button class="login-button" onclick="login()">로그인</button>
    <div class="signup-section">
        계정이 없으신가요?
        <a href="#" class="signup-link" onclick="changeJoinPage()">회원가입</a>
    </div>

    <script type="text/javascript">
        async function login() {
            const userId = document.getElementById('user-id-input');
            const password = document.getElementById('user-password-input');
            console.log(`ID: ${userId.value}, PW: ${password.value}`);

            if(userId.value === '' || password.value === '') {
                alert('필수 입력항목을 체크해주세요');
                return;
            }

            /**
             * @TODO 로그인 API 호출
             */
            await fetch(`/login?memberId=${userId.value}&password=${password.value}`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' }
            }).then(response => {
                if (response.ok) {
                    const token = response.headers.get('Authorization').split(' ')[1];
                    if (token != null) { return token; }
                }
            }).then(data => {
                window.localStorage.setItem('AT', data);
                userId.value = '';
                password.value = '';
            }).catch(error => {
                console.log(error);
                alert('아이디나 비밀번호가 다릅니다.');
            });

            window.location.href = '/';
        }

        function changeJoinPage() {
            location.href = '/join-1';
        }
    </script>
</body>
</html>
