<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/user/MemberFirstDetails.css">
</head>
<body>
    <div class="container">
        <progress value="25" max="100" id="progress"></progress>

        <div class="question-container">
            <h1>당신의 성격 유형은 <br>무엇인가요?</h1>
            <div class="sub-text">저는 이런 성격을 가지고 있어요 <span class="required">*</span></div>
            <div class="description">더 정확한 매칭을 할 수 있어요 (복수 선택 가능)</div>
        </div>

        <div class="option-container">
            <div class="option" id="option-1" onclick="choice(this)">
                <span class="emoji">🙏</span>
                <span>외향적</span>
            </div>

            <div class="option" id="option-2" onclick="choice(this)">
                <span class="emoji">😊</span>
                <span>내향적</span>
            </div>

            <div class="option" id="option-3" onclick="choice(this)">
                <span class="emoji">📚</span>
                <span>감성적인 편</span>
            </div>

            <div class="option" id="option-4" onclick="choice(this)">
                <span class="emoji">😎</span>
                <span>논리적인 편</span>
            </div>

            <div class="option" id="option-5" onclick="choice(this)">
                <span class="emoji">😌</span>
                <span>유머러스한 편</span>
            </div>
        </div>

        <div class="button-container">
            <button class="prev-button" onclick="prevPage()">이전</button>
            <button class="next-button" onclick="nextJoin()">다음</button>
        </div>
    </div>

    <script th:inline="javascript">
        const memberId = [[${memberId}]];

        let data = [];
        function choice(option) {
            let isDedication = false;
            data.forEach((element, number) => {
                if(option.id === element.id) {
                    data.splice(number, 1); // 요소 삭제
                    option.style.backgroundColor = '#FFFFFF';
                    option.style.border = '1px solid #E0E0E0';

                    isDedication = true;
                }
            });

            if(!isDedication) {
                const item = document.getElementById(option.id);
                item.style.backgroundColor = '#E6F0FF';
                item.style.border = '1px solid #6CA5FF';

                data.push({
                    id: item.id,
                    item: item.innerText
                });
            }
        }

        document.addEventListener('DOMContentLoaded', function(event) {
            const item = window.localStorage.getItem('personality');
            if(item !== null) {
                JSON.parse(item).data.forEach(element => {
                    const optionItem = document.getElementById(element.id);
                    optionItem.style.backgroundColor = '#E6F0FF';
                    optionItem.style.border = '1px solid #6CA5FF';

                    data.push({
                        id: element.id,
                        item: optionItem.innerText
                    });
                });
            }
        });

        function nextJoin() {
            if(data.length === 0) {
                alert('성격 유형을 선택해주세요');
                return;
            }

            window.localStorage.setItem('personality', JSON.stringify({data}));
            window.location.href = `/detail-2/${memberId}`;
        }

        function prevPage() {
            if (memberId === 'null' || memberId === null) window.location.href = '/my';
            else window.location.href = `/join-3/${memberId}`;
        }
    </script>
</body>
</html>
