<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/user/MemberEighthDetails.css">
</head>
<body>
    <div class="container">
        <progress value="99" max="100" id="progress"></progress>

        <div class="question-container">
            <h1>당신의 관심사 레벨은 <br>어느 정도인가요?</h1>
            <div class="sub-text">관심사 레벨을 선택해주세요 <span class="required">*</span></div>
            <div class="description">더 정확한 매칭을 할 수 있어요</div>
        </div>

        <div class="option-container">
            <div class="option" id="option-1" onclick="choice(this)">
                <span>초보</span>
            </div>

            <div class="option" id="option-2" onclick="choice(this)">
                <span>중급</span>
            </div>

            <div class="option" id="option-3" onclick="choice(this)">
                <span>고수</span>
            </div>
        </div>

        <div class="button-container">
            <button class="prev-button" onclick="prevPage()">이전</button>
            <button class="next-button" onclick="register()">등록하기</button>
        </div>
    </div>

    <script th:inline="javascript">
        const memberId = [[${memberId}]];
        const token = window.localStorage.getItem('AT');

        let interestOptionData = null;
        function choice(option) {
            for(let i = 0; i < 8; i++) {
                const optionItem = document.getElementById(`option-${i}`);
                if(optionItem && optionItem.style.backgroundColor === 'rgb(230, 240, 255)') {
                    optionItem.style.backgroundColor = '#FFFFFF';
                    optionItem.style.border = '1px solid #E0E0E0';
                }
            }

            const item = document.getElementById(option.id);
            item.style.backgroundColor = '#E6F0FF';
            item.style.border = '1px solid #6CA5FF';

            interestOptionData = JSON.stringify({
                id: item.id,
                item: item.innerText
            });
        }

        document.addEventListener('DOMContentLoaded', function(event) {
            const item = window.localStorage.getItem('interestLevel');
            if(item !== null) {
                const optionItem = document.getElementById(JSON.parse(item).id);
                optionItem.style.backgroundColor = '#E6F0FF';
                optionItem.style.border = '1px solid #6CA5FF';

                interestOptionData = JSON.stringify({
                    id: optionItem.id,
                    item: optionItem.innerText
                });
            }
        });

        function listDataJsonParse(i) {
            let listData = [];
            JSON.parse(window.localStorage.getItem(i)).data
                .forEach(element => listData.push(element.id));

            return listData;
        }

        function singleDataParse(i) {
            return JSON.parse(window.localStorage.getItem(i)).id;
        }

        function createEnumList(number, i, enumList, enumCodes) {
            listDataJsonParse(i).forEach(element => {
                switch (element) {
                    case 'option-1': enumList.push(enumCodes[0]); break;
                    case 'option-2': enumList.push(enumCodes[1]); break;
                    case 'option-3': enumList.push(enumCodes[2]); break;
                    case 'option-4': enumList.push(enumCodes[3]); break;
                    case 'option-6': enumList.push(enumCodes[4]); break;
                    case 'option-7': enumList.push(enumCodes[5]); break;
                    case 'option-8': enumList.push(enumCodes[6]); break;
                }
            });
            return enumList;
        }

        function createEnum(number, i, enumCode, enumValue) {
            switch (singleDataParse(i)) {
                case 'option-1': enumCode = enumValue[0]; break;
                case 'option-2': enumCode = enumValue[1]; break;
                case 'option-3': enumCode = enumValue[2]; break;
                case 'option-4': enumCode = enumValue[3]; break;
                case 'option-6': enumCode = enumValue[4]; break;
                case 'option-7': enumCode = enumValue[5]; break;
                case 'option-8': enumCode = enumValue[6]; break;
            }
            return enumCode;
        }

        function createEnumUpdate(number, i, enumCode, enumValue) {
            switch (singleDataParse(i)) {
                case 'option-1': enumCode.push(enumValue[0]); break;
                case 'option-2': enumCode.push(enumValue[1]); break;
                case 'option-3': enumCode.push(enumValue[2]); break;
                case 'option-4': enumCode.push(enumValue[3]); break;
                case 'option-6': enumCode.push(enumValue[4]); break;
                case 'option-7': enumCode.push(enumValue[5]); break;
                case 'option-8': enumCode.push(enumValue[6]); break;
            }
            return enumCode;
        }

        let personalityTypeEnumCodes = [];
        let talkStyleEnumCodes = [];
        let friendStyleEnumCodes = [];
        let relationshipDepthEnumCodes = [];
        let onlineTalkStyleEnumCodes = [];
        let offlineMeetingEnumCodes = [];
        let interestPreferenceEnumCodes = [];
        let interestLevelEnumCodes = [];

        async function getEnumCodes(enumType, enumCodeList) {
            await fetch(`/enum/${enumType}`, {
                method: 'GET',
            }).then(response => response.json()).then(data => {
                data.result.forEach(element => enumCodeList.push(element.code));
            }).catch(error => console.log(error));

            return enumCodeList;
        }

        function getEnumCode() {
            const enumList = ['personality-type', 'talk-style', 'friend-style', 'relationship-depth', 'online-talk-style', 'offline-meeting', 'interest-preference', 'interest-level'];
            enumList.forEach((element, number) => {
                switch(number) {
                    case 0: getEnumCodes(element, personalityTypeEnumCodes).then(data => { return data }); break;
                    case 1: getEnumCodes(element, talkStyleEnumCodes).then(data => { return data }); break;
                    case 2: getEnumCodes(element, friendStyleEnumCodes).then(data => { return data }); break;
                    case 3: getEnumCodes(element, relationshipDepthEnumCodes).then(data => { return data }); break;
                    case 4: getEnumCodes(element, onlineTalkStyleEnumCodes).then(data => { return data }); break;
                    case 5: getEnumCodes(element, offlineMeetingEnumCodes).then(data => { return data }); break;
                    case 6: getEnumCodes(element, interestPreferenceEnumCodes).then(data => { return data }); break;
                    case 7: getEnumCodes(element, interestLevelEnumCodes).then(data => { return data }); break;
                }
            });
        }

        getEnumCode();
        async function register() {
            if(interestOptionData == null) {
                alert('관심사 레벨을 선택해주세요');
                return;
            }
            window.localStorage.setItem('interestLevel', interestOptionData);

            let requestBody = {};
            if (memberId === 'null' || memberId === null) {
                let personalityTypeEnumCodeList = [];
                let talkStyleEnumCodeList = [];
                let friendStyleEnumCodeList = [];
                let relationshipDepthEnumCode = null;
                let onlineTalkStyleEnumCodeList = [];
                let offlineMeetingEnumCode = null;
                let interestPreferenceEnumCode = null;
                let interestLevelEnumCode = null;

                const list = ['personality', 'talkStyle', 'friendStyle', 'relationshipDepth', 'voiceOrVideoTalk', 'isOffline', 'interestPreferences', 'interestLevel'];
                list.forEach((i, number) => {
                    switch(number) {
                        case 0: requestBody.personality = createEnumList(number, i, personalityTypeEnumCodeList, personalityTypeEnumCodes); break;
                        case 1: requestBody.talkStyle = createEnumList(number, i, talkStyleEnumCodeList, talkStyleEnumCodes); break;
                        case 2: requestBody.friendStyle = createEnumList(number, i, friendStyleEnumCodeList, friendStyleEnumCodes); break;
                        case 3: requestBody.relationshipDepth = createEnum(number, i, relationshipDepthEnumCode, relationshipDepthEnumCodes); break;
                        case 4: requestBody.voiceOrVideoTalk = createEnumList(number, i, onlineTalkStyleEnumCodeList, onlineTalkStyleEnumCodes); break;
                        case 5: requestBody.isOffline = createEnum(number, i, offlineMeetingEnumCode, offlineMeetingEnumCodes); break;
                        case 6: requestBody.interestPreferences = createEnum(number, i, interestPreferenceEnumCode, interestPreferenceEnumCodes); break;
                        case 7: requestBody.interestLevel = createEnum(number, i, interestLevelEnumCode, interestLevelEnumCodes); break;
                    }
                });

                await fetch('/member/create/detail', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                    contentType: 'application/json',
                    body: JSON.stringify(requestBody)
                }).then(response => response.json()).then(data => {
                    console.log(data);
                    alert('회원 상세정보가 등록되었습니다');
                }).catch(error => console.log(error));

                list.forEach(value => window.localStorage.removeItem(value));
                window.location.href = '/my';
            } else {
                let personalityTypeEnumCodeList = [];
                let talkStyleEnumCodeList = [];
                let friendStyleEnumCodeList = [];
                let relationshipDepthEnumCode = [];
                let onlineTalkStyleEnumCodeList = [];
                let offlineMeetingEnumCode = [];
                let interestPreferenceEnumCode = [];
                let interestLevelEnumCode = [];

                let interestEnumList = [];
                await fetch('/enum/interest', {
                    method: 'GET',
                }).then(response => response.json()).then(data => {
                    data.result.forEach(interest => interestEnumList.push(interest.code));
                }).catch(error => console.log(error));

                const baseList = ['secondData', 'thirdData'];
                baseList.forEach((i, number) => {
                    switch(number) {
                        case 0: {
                            requestBody.profileUrl = JSON.parse(window.localStorage.getItem(i)).profileUrl;
                            requestBody.nickName = JSON.parse(window.localStorage.getItem(i)).nickName;
                            requestBody.age = JSON.parse(window.localStorage.getItem(i)).age;
                            requestBody.gender = JSON.parse(window.localStorage.getItem(i)).gender;
                            requestBody.introduction = JSON.parse(window.localStorage.getItem(i)).introduction;
                        } break;
                        case 1: {
                            let listData = [];
                            JSON.parse(window.localStorage.getItem('thirdData')).data.forEach(element => {
                                switch (element.id) {
                                    case 'option-1': listData.push(interestEnumList[1]); break;
                                    case 'option-2': listData.push(interestEnumList[2]); break;
                                    case 'option-3': listData.push(interestEnumList[3]); break;
                                    case 'option-4': listData.push(interestEnumList[5]); break;
                                    case 'option-5': listData.push(interestEnumList[4]); break;
                                    case 'option-6': listData.push(interestEnumList[6]); break;
                                    case 'option-7': listData.push(interestEnumList[8]); break;
                                    case 'option-8': listData.push(interestEnumList[0]); break;
                                    case 'option-9': listData.push(interestEnumList[7]); break;
                                }
                            });
                            requestBody.interests = listData;
                        } break;
                    }
                });

                const updateList = ['personality', 'talkStyle', 'friendStyle', 'relationshipDepth', 'voiceOrVideoTalk', 'isOffline', 'interestPreferences', 'interestLevel'];
                updateList.forEach((i, number) => {
                    switch(number) {
                        case 0: requestBody.personalityTypes = createEnumList(number, i, personalityTypeEnumCodeList, personalityTypeEnumCodes); break;
                        case 1: requestBody.talkStyles = createEnumList(number, i, talkStyleEnumCodeList, talkStyleEnumCodes); break;
                        case 2: requestBody.friendStyles = createEnumList(number, i, friendStyleEnumCodeList, friendStyleEnumCodes); break;
                        case 3: requestBody.relationshipDepth = createEnumUpdate(number, i, relationshipDepthEnumCode, relationshipDepthEnumCodes); break;
                        case 4: requestBody.onlineTalkStyles = createEnumList(number, i, onlineTalkStyleEnumCodeList, onlineTalkStyleEnumCodes); break;
                        case 5: requestBody.offlineTalkStyles = createEnumUpdate(number, i, offlineMeetingEnumCode, offlineMeetingEnumCodes); break;
                        case 6: requestBody.interestPreference = createEnumUpdate(number, i, interestPreferenceEnumCode, interestPreferenceEnumCodes); break;
                        case 7: requestBody.interestLevel = createEnumUpdate(number, i, interestLevelEnumCode, interestLevelEnumCodes); break;
                    }
                });

                await fetch('/member/update', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    },
                    contentType: 'application/json',
                    body: JSON.stringify(requestBody)
                }).then(response => response.json()).then(data => {
                    console.log(data);
                    alert('회원 정보가 수정되었습니다');
                }).catch(error => console.log(error));

                baseList.forEach(value => window.localStorage.removeItem(value));
                updateList.forEach(value => window.localStorage.removeItem(value));
                window.location.href = '/my';
            }
            console.log(requestBody);
        }

        function prevPage() {
            window.location.href = `/detail-7/${memberId}`;
        }
    </script>
</body>
</html>
