<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="stylesheet" type="text/css" href="/user/MyPage.css">
</head>
<body>
    <div class="header">
        <div>마이페이지</div>
        <a class="notification">
            <a href="#" class="logout" onclick="logout()">로그아웃</a>
            <img src="/images/Bell.png" alt="" class="bell-icon" onclick="noticePage()">
        </a>
    </div>

    <div class="div">
        <div class="profile-section" id="profile-section"></div>
        <button class="member-detail-btn" onclick="registerMemberDetail()">상세 정보 등록</button>
        <div class="section-title">내 친구</div>
        <div id="card">
            <div class="card-div" id="card-div">
                <p class="card-p">아직 친구를 맺지 않았어요! 🥹</p>
            </div>
        </div>
    </div>
    <div class="navigation">
        <a href="/recommend" class="nav-item">
            <img src="/images/Friends.png" alt="" class="icon">
            친구 추천
        </a>
        <a href="/request/list" class="nav-item">
            <img src="/images/Love.png" alt="" class="icon">
            친구 요청
        </a>
        <a href="/" class="nav-item">
            <img src="/images/Home.png" alt="" class="icon">
            홈
        </a>
        <a href="/chat/list" class="nav-item">
            <img src="/images/Chat.png" alt="" class="icon">
            채팅
        </a>
        <a href="/my" class="nav-item active">
            <img src="/images/user1.png" alt="" class="icon">
            마이페이지
        </a>
    </div>

    <script>
        const token = window.localStorage.getItem('AT');
        const profileSection = document.getElementById("profile-section");
        const html = document.querySelector('html');
        let memberInfor = null;
        let count = 0;
        member();
        async function member() {
            /**
             * 회원 기본 정보 조회 API 호출
             */
            await fetch('/member', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(date => {
                console.log(date);
                memberInfor = date.result;
                getMemberInfor(date);
            }).catch(error => console.log(error));
        }

        async function getMemberInfor(date) {
            const profilePicDiv = document.createElement('div');
            profilePicDiv.className = 'profile-pic1 bear-profile';

            const profileImg = document.createElement('img');
            profileImg.src = date.result.profileUrl;
            profileImg.alt = '프로필';
            profileImg.className = 'profile-icon';
            profileImg.id = 'profile-image';
            profilePicDiv.appendChild(profileImg);

            const userInfoDiv = document.createElement('div');
            userInfoDiv.className = 'user-info';

            const userNameDiv = document.createElement('div');
            userNameDiv.className = 'user-name';
            userNameDiv.id = 'user-name';
            userNameDiv.textContent = `${date.result.nickName} 님 `;

            const genderSpan = document.createElement('span');
            genderSpan.id = 'gender';

            let genderEnumValue = null;
            switch (date.result.gender) {
                case 'MAN':
                    genderEnumValue = '남';
                    break;
                case 'FEMALE':
                    genderEnumValue = '여';
                    break;
            }

            genderSpan.textContent = `${genderEnumValue} (${date.result.age})`;
            userNameDiv.appendChild(genderSpan);

            const editLink = document.createElement('a');
            editLink.href = '#';
            editLink.className = 'super-match';
            editLink.textContent = '수정';
            editLink.onclick = function() { window.location.href = `/member/detail/update/${date.result.memberId}`; };
            userNameDiv.appendChild(editLink);

            const userBioDiv = document.createElement('div');
            userBioDiv.className = 'user-bio';
            userBioDiv.id = 'introduction';
            userBioDiv.textContent = `${date.result.introduction}`;

            const categoryDiv = document.createElement('div');
            categoryDiv.className = 'category';

            const interestSpan = document.createElement('span');
            interestSpan.className = 'interest';
            interestSpan.id = 'interest';

            const interestIcon = document.createElement('img');
            interestIcon.src = '/images/Interest-Icon.png';
            interestIcon.className = 'interest-icon';
            interestIcon.alt = 'Icon';
            interestIcon.id = 'interest-icon';

            const interestDiv = document.createElement('div');
            interestDiv.className = 'interest-div';
            interestDiv.id = 'interest-div';
            interestDiv.appendChild(interestIcon);

            let interestEnumList = [];
            /**
             * TODO 관심사 유형 Enum API 호출
             */
            await fetch('/enum/interest', {
                method: 'GET',
            }).then(response => response.json()).then(data => {
                data.result.forEach(interest => {
                    interestEnumList.push(interest.code);
                });
            }).catch(error => console.log(error));

            let interestEnumValue = null;
            let interest = '';
            memberInfor.interests.forEach((i, number) => {
                switch (i) {
                    case 'MUSIC':
                        interestEnumValue = '음악';
                        break;
                    case 'GAME':
                        interestEnumValue = '게임';
                        break;
                    case 'MOVIEDRAMA':
                        interestEnumValue = '영화/드라마';
                        break;
                    case 'READING':
                        interestEnumValue = '독서';
                        break;
                    case 'ART':
                        interestEnumValue = '예술';
                        break;
                    case 'WORKOUT':
                        interestEnumValue = '운동';
                        break;
                    case 'TRAVEL':
                        interestEnumValue = '여행';
                        break;
                    case 'FOODEXPLORATION':
                        interestEnumValue = '맛집 탐방';
                        break;
                    case 'IT':
                        interestEnumValue = 'IT';
                        break;
                }
                if (number !== memberInfor.interests.length - 1) interest += `${interestEnumValue}, `;
                else interest += `${interestEnumValue}`;
            });

            interestDiv.appendChild(document.createTextNode(interest));
            interestSpan.appendChild(interestDiv);
            categoryDiv.appendChild(interestSpan);
            userInfoDiv.appendChild(userNameDiv);
            userInfoDiv.appendChild(userBioDiv);
            userInfoDiv.appendChild(categoryDiv);

            profileSection.appendChild(profilePicDiv);
            profileSection.appendChild(userInfoDiv);
        }

        let memberDataList = [];
        memberData();
        async function memberData() {
            /**
             * @TODO 친구 조회 API 호출
             */
            await fetch(`/matching/friends`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data.result);

                let interestEnumValue = null;
                let interest = '';
                data.result.forEach(member => {
                    member.interests.forEach((i, number) => {
                        switch (i) {
                            case 'MUSIC':
                                interestEnumValue = '음악';
                                break;
                            case 'GAME':
                                interestEnumValue = '게임';
                                break;
                            case 'MOVIEDRAMA':
                                interestEnumValue = '영화/드라마';
                                break;
                            case 'READING':
                                interestEnumValue = '독서';
                                break;
                            case 'ART':
                                interestEnumValue = '예술';
                                break;
                            case 'WORKOUT':
                                interestEnumValue = '운동';
                                break;
                            case 'TRAVEL':
                                interestEnumValue = '여행';
                                break;
                            case 'FOODEXPLORATION':
                                interestEnumValue = '맛집 탐방';
                                break;
                            case 'IT':
                                interestEnumValue = 'IT';
                                break;
                        }
                        if (number !== member.interests.length - 1) interest += `${interestEnumValue}, `;
                        else interest += `${interestEnumValue}`;
                    });

                    memberDataList.push({
                        id: member.memberId,
                        profileUrl: member.profileUrl,
                        nickName: member.nickName,
                        age: member.age,
                        gender: member.gender,
                        introduction: member.introduction,
                        interest: interest,
                    });
                    interest = '';
                });
            }).catch(error => console.log(error));
            setMemberElement();
        }

        function setMemberElement() {
            const cardDiv = document.getElementById('card-div');
            if(memberDataList.length === 0) { cardDiv.style.display = 'flex'; }

            const card = document.getElementById('card');
            memberDataList.forEach((data, number) => {
                const friendCard = document.createElement('div');
                friendCard.className = 'friend-card';

                const profilePicDiv = document.createElement('div');
                profilePicDiv.className = 'profile-pic bear-profile';

                const profileImg = document.createElement('img');
                profileImg.src = data.profileUrl;
                profileImg.alt = 'profile-icon';
                profilePicDiv.appendChild(profileImg);

                const userInfoDiv = document.createElement('div');
                userInfoDiv.className = 'user-info';

                const userNameDiv = document.createElement('div');
                userNameDiv.className = 'user-name';
                userNameDiv.textContent = data.nickName;

                const genderAgeSpan = document.createElement('span');
                genderAgeSpan.textContent = `${data.gender} (${data.age})`;
                userNameDiv.appendChild(genderAgeSpan);

                const userBioDiv = document.createElement('div');
                userBioDiv.className = 'user-bio2';
                userBioDiv.textContent = data.introduction;

                const matchButtonDiv = document.createElement('div');
                matchButtonDiv.className = 'match-rate-and-button';

                const detailBtn = document.createElement('button');
                detailBtn.className = 'detail-btn';
                detailBtn.textContent = '채팅하기';

                matchButtonDiv.appendChild(detailBtn);

                userInfoDiv.appendChild(userNameDiv);
                userInfoDiv.appendChild(userBioDiv);
                userInfoDiv.appendChild(matchButtonDiv);

                const categoryDiv = document.createElement('div');
                categoryDiv.className = 'category';

                const interestIcon = document.createElement('img');
                interestIcon.src = '/images/Interest-Icon.png';
                interestIcon.alt = 'interest-icon';
                interestIcon.className = 'interest-icon';

                const interestP = document.createElement('p');
                interestP.className = 'interest';
                interestP.textContent = data.interest;

                categoryDiv.appendChild(interestIcon);
                categoryDiv.appendChild(interestP);

                friendCard.appendChild(profilePicDiv);
                friendCard.appendChild(userInfoDiv);
                friendCard.appendChild(categoryDiv);
                card.appendChild(friendCard);

                count += 150;
                html.style.height = `calc(100% + ${count}px)`;
            });
        }

        function registerMemberDetail() {
            window.location.href = '/detail-1/null';
        }

        function noticePage() {
            window.location.href = '/notice';
        }

        function logout() {
            window.location.href = '/login';
        }
    </script>
</body>
</html>
