<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="stylesheet" href="/user/MyPage.css">
</head>
<body>
    <div class="header">
        <div>마이페이지</div>
        <a class="notification">
            <a href="#" class="logout" onclick="logout()">로그아웃</a>
            <img src="/static/images/Bell.png" alt="" class="bell-icon">
        </a>
    </div>

    <div class="div">
        <div class="profile-section">
            <div class="profile-pic1 bear-profile">
                <img src="/static/images/ProfileImage.png" alt="프로필" class="profile-icon">
            </div>
            <div class="user-info">
                <div class="user-name">김경민 님 <span>남 (18)</span>
                    <a href="#" class="super-match" onclick="memberInforModify()">수정</a>
                </div>
                <div class="user-bio">안녕하세요. 저도 고등학생 개발자예요!</div>
                <div class="category">
                        <span class="interest">
                            <img src="/static/images/Interest-Icon.png" class="interest-icon" alt="IT 아이콘"> IT
                        </span>
                </div>
            </div>
        </div>

        <button class="member-detail-btn" onclick="registerMemberDetail()">상세 정보 등록</button>

        <div class="section-title">내 친구</div>
        <div id="card">
            <div class="card-div" id="card-div">
                <p class="card-p">아직 친구를 맺지 않았어요! 🥹</p>
            </div>
        </div>
    </div>
    <div class="navigation">
        <a href="/FriendRecommend.html" class="nav-item">
            <img src="/static/images/Friends.png" alt="" class="icon">
            친구 추천
        </a>
        <a href="/RequestList.html" class="nav-item">
            <img src="/static/images/Love.png" alt="" class="icon">
            친구 요청
        </a>
        <a href="/UserHome.html" class="nav-item">
            <img src="/static/images/Home.png" alt="" class="icon">
            홈
        </a>
        <a href="/ChattingList.html" class="nav-item">
            <img src="/static/images/Chat.png" alt="" class="icon">
            채팅
        </a>
        <a href="/MyPage.html" class="nav-item active">
            <img src="/static/images/user1.png" alt="" class="icon">
            마이페이지
        </a>
    </div>

    <script>
        // 테스트 초기 데이터
        let memberDataList = [
            {
                id: 'test1',
                profileUrl: null,
                name: '홍길동',
                age: 18,
                gender: '남',
                introduction: '안녕하세요. 고등학생 백엔드 개발자입니다!',
                interest: 'IT'
            },
            {
                id: 'test2',
                profileUrl: null,
                name: '남길동',
                age: 20,
                gender: '남',
                introduction: '안녕하세요. 현재 개발자로 일하고 있습니다!',
                interest: 'IT'
            }
        ];

        // 백엔드에서 나중에 아래처럼 회원 정보를 리스트에 추가하면됨.
        function memberData() {
            /**
             * @TODO 요청 목록 조회 API 호출
             */

            memberDataList.push({
                id: 'test1',
                profileUrl: null,
                name: '홍길동',
                age: 18,
                gender: '남',
                introduction: '안녕하세요. 고등학생 백엔드 개발자입니다!',
                interest: 'IT'
            });
        }

        function setMemberElement() {
            const cardDiv = document.getElementById('card-div');
            if(memberDataList.length === 0) {
                cardDiv.style.display = 'flex';
            }

            const card = document.getElementById('card');
            memberDataList.forEach((data, number) => {
                const friendCard = document.createElement('div');
                friendCard.className = 'friend-card';

                const profilePicDiv = document.createElement('div');
                profilePicDiv.className = 'profile-pic bear-profile';

                const profileImg = document.createElement('img');
                profileImg.src = '/static/images/ProfileImage.png';
                profileImg.alt = 'profile-icon';
                profilePicDiv.appendChild(profileImg);

                const userInfoDiv = document.createElement('div');
                userInfoDiv.className = 'user-info';

                const userNameDiv = document.createElement('div');
                userNameDiv.className = 'user-name';
                userNameDiv.textContent = data.name;

                const genderAgeSpan = document.createElement('span');
                genderAgeSpan.textContent = `${data.gender} (${data.age})`;
                userNameDiv.appendChild(genderAgeSpan);

                const userBioDiv = document.createElement('div');
                userBioDiv.className = 'user-bio2';
                userBioDiv.textContent = data.introduction;

                const matchButtonDiv = document.createElement('div');
                matchButtonDiv.className = 'match-rate-and-button';

                const detailBtn = document.createElement('button');
                detailBtn.className = 'detail-btn';
                detailBtn.textContent = '채팅하기';

                matchButtonDiv.appendChild(detailBtn);

                userInfoDiv.appendChild(userNameDiv);
                userInfoDiv.appendChild(userBioDiv);
                userInfoDiv.appendChild(matchButtonDiv);

                const categoryDiv = document.createElement('div');
                categoryDiv.className = 'category';

                const interestIcon = document.createElement('img');
                interestIcon.src = '/images/Interest-Icon.png';
                interestIcon.alt = 'interest-icon';
                interestIcon.className = 'interest-icon';

                const interestP = document.createElement('p');
                interestP.className = 'interest';
                interestP.textContent = data.interest;

                categoryDiv.appendChild(interestIcon);
                categoryDiv.appendChild(interestP);

                friendCard.appendChild(profilePicDiv);
                friendCard.appendChild(userInfoDiv);
                friendCard.appendChild(categoryDiv);
                card.appendChild(friendCard);
            });
        }
        setMemberElement();

        function registerMemberDetail() {
            window.location.href = '/MemberDetails1.html';
        }

        function memberInforModify() {
            window.location.href = '/MemberInforModify1.html';
        }

        function logout() {
            window.location.href = '/Login.html';
        }
    </script>
</body>
</html>
