<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="stylesheet" href="/static/user/UserNoticeDetails.css">
</head>
<body>
    <div class="header">
        <a href="#" onclick="prevPage()"><img src="/static/images/Left.png" alt="" class="left-icon"></a>
        <div class="back-button">공지사항</div>
    </div>

    <div class="notice-title">📌 이번주 특별 이벤트가 있어요!!</div>
    <div class="notice-content">이번주에 특별한 이벤트가 있어요! 친구 10명 이상 모으시 특별 혜택을 드립니다!!</div>

    <div class="comments-section">
        <div class="comments-header">
            댓글 <span class="comment-count">(3)</span>
        </div>

        <textarea class="comment-input" placeholder="내용을 입력해주세요" id="comment-input"></textarea>
        <button class="comment-button" onclick="sendComment()">등록</button>

        <div style="clear: both;"></div>
        <div id="comments"></div>

        <div class="navigation">
            <a href="/FriendRecommend.html" class="nav-item">
                <img src="/static/images/Friends.png" alt="" class="icon">
                친구 추천
            </a>
            <a href="/RequestList.html" class="nav-item">
                <img src="/static/images/Love.png" alt="" class="icon">
                친구 요청
            </a>
            <a href="/UserHome.html" class="nav-item active">
                <img src="/static/images/home1.png" alt="" class="icon">
                홈
            </a>
            <a href="/ChattingList.html" class="nav-item">
                <img src="/static/images/Chat.png" alt="" class="icon">
                채팅
            </a>
            <a href="/MyPage.html" class="nav-item">
                <img src="/static/images/User.png" alt="" class="icon">
                마이페이지
            </a>
        </div>
    </div>

    <script>
        // 테스트 초기 데이터
        let memberDataList = [
            {
                id: 'test1',
                content: '와!! 드디어 특별 이벤트이구나!!',
                createAt: '2025.03.23',
                member: {
                    id: 'test2',
                    profileUrl:'/static/images/ProfileImage.png',
                    name: '남길동',
                    age: 20,
                    gender: '남',
                    introduction: '안녕하세요. 현재 개발자로 일하고 있습니다!',
                    interest: 'IT'
                }
            },
            {
                id: 'test2',
                content: '헉!! 신나요 ㅋㅋ',
                createAt: '2025.03.23',
                member: {
                    id: 'test2',
                    profileUrl:'/static/images/ProfileImage.png',
                    name: '남길동',
                    age: 20,
                    gender: '남',
                    introduction: '안녕하세요. 현재 개발자로 일하고 있습니다!',
                    interest: 'IT'
                }
            },
            {
                id: 'test3',
                content: 'ㅋㅋㅋㅋㅋㅋ',
                createAt: '2025.03.23',
                member: {
                    id: 'test2',
                    profileUrl:'/static/images/ProfileImage.png',
                    name: '남길동',
                    age: 20,
                    gender: '남',
                    introduction: '안녕하세요. 현재 개발자로 일하고 있습니다!',
                    interest: 'IT'
                }
            },
            {
                id: 'test3',
                content: '오~ 기대된당!',
                createAt: '2025.03.23',
                member: {
                    id: 'test2',
                    profileUrl:'/static/images/ProfileImage.png',
                    name: '남길동',
                    age: 20,
                    gender: '남',
                    introduction: '안녕하세요. 현재 개발자로 일하고 있습니다!',
                    interest: 'IT'
                }
            }
        ];

        let noticeData = null;
        function getNoticeData() {
            /**
             * @TODO 공지사항 조회 API 호출
             */

            noticeData = {

            };
        }

        function setMemberElement() {
            const card = document.getElementById('comments');
            memberDataList.forEach((data, number) => {
                const comment = document.createElement('div');
                comment.className = 'comment';

                const commentAvatar = document.createElement('div');
                commentAvatar.className = 'comment-avatar';

                const avatarImage = document.createElement('img');
                avatarImage.src = '/static/images/ProfileImage.png';
                avatarImage.alt = 'profile-image';
                commentAvatar.appendChild(avatarImage);

                const commentContent = document.createElement('div');
                commentContent.className = 'comment-content';

                const commentUser = document.createElement('div');
                commentUser.className = 'comment-user';
                commentUser.textContent = `${data.member.name} `;

                const commentDate = document.createElement('span');
                commentDate.className = 'comment-date';
                commentDate.textContent = '2025.03.08';
                commentUser.appendChild(commentDate);

                const commentText = document.createElement('div');
                commentText.className = 'comment-text';
                commentText.textContent = data.content;

                commentContent.appendChild(commentUser);
                commentContent.appendChild(commentText);
                comment.appendChild(commentAvatar);
                comment.appendChild(commentContent);
                card.appendChild(comment);
            });
        }
        setMemberElement();

        function prevPage() {
            window.location.href = '/UserNotice.html';
        }

        function sendComment() {
            const commentInput = document.getElementById('comment-input');
            console.log(`${commentInput.value}`);
            /**
             * @TODO 댓글 등록 API 호출
             * @TODO 댓글 조회 API 호출
             */

            commentInput.value = '';

            // 데이터 추가
            // memberDataList.push({

            // });
        }
    </script>
</body>
</html>
