<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="stylesheet" type="text/css" href="/user/UserNoticeDetails.css">
</head>
<body>
    <div class="header">
        <a href="#" onclick="prevPage()"><img src="/images/Left.png" alt="" class="left-icon"></a>
        <div class="back-button">공지사항</div>
    </div>

    <div class="notice-title" id="title"></div>
    <div class="notice-content" id="content"></div>

    <div class="comments-section">
        <div class="comments-header">
            댓글 <span class="comment-count" id="comment-count">(0)</span>
        </div>

        <textarea class="comment-input" placeholder="내용을 입력해주세요" id="comment-input"></textarea>
        <button class="comment-button" onclick="sendComment()">등록</button>

        <div style="clear: both;"></div>
        <div id="comments"></div>

        <div class="navigation">
            <a href="/recommend" class="nav-item">
                <img src="/images/Friends.png" alt="" class="icon">
                친구 추천
            </a>
            <a href="/request/list" class="nav-item">
                <img src="/images/Love.png" alt="" class="icon">
                친구 요청
            </a>
            <a href="/" class="nav-item active">
                <img src="/images/home1.png" alt="" class="icon">
                홈
            </a>
            <a href="/chat/list" class="nav-item">
                <img src="/images/Chat.png" alt="" class="icon">
                채팅
            </a>
            <a href="/my" class="nav-item">
                <img src="/images/User.png" alt="" class="icon">
                마이페이지
            </a>
        </div>
    </div>

    <script th:inline="javascript">
        const token = window.localStorage.getItem('AT');
        const commentCount = document.getElementById('comment-count');
        const html = document.querySelector('html');
        const noticeId = [[${noticeId}]];
        let noticeData = null;

        getNoticeData();
        async function getNoticeData() {
            const title = document.getElementById('title');
            const content = document.getElementById('content');
            /**
             * @TODO 공지사항 조회 API 호출
             */
            await fetch(`/notice/${noticeId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data);
                title.textContent = data.result.title;
                content.textContent = data.result.content;
                noticeData = {
                    id: data.result.id,
                    thumbnailUrl: data.result.thumbnailUrl,
                    title: data.result.title,
                    content: data.result.content,
                };
            }).catch(error => console.log(error));

            console.log(noticeData);
        }

        let datas = [];
        getNoticeComments();
        async function getNoticeComments() {
            /**
             * @TODO 댓글 조회 API 호출
             */
            await fetch(`/comment/list/${noticeId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data);
                datas = data.result;
            }).catch(error => console.log(error));
            setElement();
        }

        function setElement() {
            datas.forEach(comment => {
                fetch(`/member/${comment.memberId}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${token}`
                    }
                }).then(response => response.json()).then(data => {
                    console.log(data);
                    let json = {
                        commentId: comment.id,
                        memberId: comment.memberId,
                        profileUrl: data.result.profileUrl,
                        nickName: data.result.nickName,
                        content: comment.content,
                    };

                    setCommentElement(json);
                }).catch(error => console.log(error));
            });
        }

        let commentCounts = 0;
        let count = 0;
        const card = document.getElementById('comments');
        function setCommentElement(data) {
            const comment = document.createElement('div');
            comment.className = 'comment';

            const commentAvatar = document.createElement('div');
            commentAvatar.className = 'comment-avatar';

            const avatarImage = document.createElement('img');
            avatarImage.src = data.profileUrl;
            avatarImage.alt = 'profile-image';
            commentAvatar.appendChild(avatarImage);

            const commentContent = document.createElement('div');
            commentContent.className = 'comment-content';

            const commentUser = document.createElement('div');
            commentUser.className = 'comment-user';
            commentUser.textContent = `${data.nickName} `;

            const commentText = document.createElement('div');
            commentText.className = 'comment-text';
            commentText.textContent = data.content;

            commentContent.appendChild(commentUser);
            commentContent.appendChild(commentText);
            comment.appendChild(commentAvatar);
            comment.appendChild(commentContent);
            card.appendChild(comment);

            commentCounts++;
            commentCount.textContent = `(${commentCounts})`;
            count += 50;
            html.style.height = `calc(100% + ${count}px)`;
        }

        function prevPage() {
            window.location.href = '/notice';
        }

        async function sendComment() {
            const commentInput = document.getElementById('comment-input');
            console.log(`${commentInput.value}`);
            /**
             * @TODO 댓글 등록 API 호출
             * @TODO 댓글 조회 API 호출
             */
            await fetch(`/comment/create`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({
                    noticeId: `${noticeId}`,
                    content: `${commentInput.value}`
                })
            }).then(response => response.json()).then(data => {
                console.log(data);
            }).catch(error => console.log(error));

            // 전체 댓글 다시 로드
            card.innerText = '';
            commentCounts = 0;
            count = 0;
            await getNoticeData();
            await getNoticeComments();
            commentInput.value = '';
        }
    </script>
</body>
</html>
