<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="stylesheet" type="text/css" href="/user/UserHome.css">
</head>
<body>
    <div class="container" id="container">
        <div class="header">
            <div class="logo">홈</div>
            <div class="greeting">반가워요, <span id="name">김경민</span> 님! 🎉</div>
            <a href="#" class="notification" onclick="notice()">
                <img src="/images/Bell.png" alt="bell" class="bell-icon">
            </a>
        </div>

        <div class="matches-section">
            <div class="matches-title">매칭 현황 통계</div>
            <div class="matches-stats">
                <div class="stats-box">
                    <div class="stats-label">전체 매칭</div>
                    <div class="stats-value" id="stats-value">0건</div>
                </div>
                <div class="stats-box">
                    <div class="stats-label">신규 매칭</div>
                    <div class="stats-value blue-text" id="blue-text">0건</div>
                </div>
            </div>
            <div class="button-row">
                <div class="action-button button-blue" id="button-blue">요청 대기 0건</div>
                <div class="action-button button-green" id="button-green">친구 맺기 0건</div>
                <div class="action-button button-red" id="button-red">거절 0건</div>
            </div>
        </div>

        <div class="section-title">지금 가장 핫한 관심사 탑 3</div>
        <div class="tag-div">
            <span class="tag"># 음악</span>
            <span class="tag"># IT</span>
            <span class="tag"># 맛집 탐방</span>
        </div>

        <div class="section-title">이번 주 인기 관심사</div>
        <div class="tag-div">
            <span class="tag"># 음악</span>
            <span class="tag"># IT</span>
            <span class="tag"># 맛집 탐방</span>
        </div>

        <div class="section-title">관심사와 상관없는 친구 추천</div>
        <div id="card"></div>

        <div class="navigation">
            <a href="/FriendRecommend.html" class="nav-item">
                <img src="/images/Friends.png" alt="" class="icon">
                친구 추천
            </a>
            <a href="/RequestList.html" class="nav-item">
                <img src="images/Love.png" alt="" class="icon">
                친구 요청
            </a>
            <a href="/" class="nav-item active">
                <img src="/images/home1.png" alt="" class="icon">
                홈
            </a>
            <a href="/ChattingList.html" class="nav-item">
                <img src="/images/Chat.png" alt="" class="icon">
                채팅
            </a>
            <a href="/my" class="nav-item">
                <img src="/images/User.png" alt="" class="icon">
                마이페이지
            </a>
        </div>
    </div>

    <script>
        const token = window.localStorage.getItem('AT');

        getMatchData();
        async function getMatchData() {
            const fullStatistics = document.getElementById('stats-value');
            const newStatistics = document.getElementById('blue-text');
            const atmosphere = document.getElementById('button-blue');
            const friend = document.getElementById('button-green');
            const refusal = document.getElementById('button-red');

            /**
             * @TODO 매칭 현황 관련 API 호출
             */
            fetch('/matching/statistics', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data);
                fullStatistics.textContent = data.result.fullStatistics;
                newStatistics.textContent = data.result.newStatistics;
            }).catch(error => console.log(error));

            fetch('/matching/statistics/status', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data);
                atmosphere.textContent = `요청 대기 ${data.result.atmosphere}건`;
                friend.textContent = `친구 맺기 ${data.result.friend}건`;
                refusal.textContent = `거절 ${data.result.refusal}건`;
            }).catch(error => console.log(error));
        }

        let interest = '';
        let memberInfor = null;
        member();
        async function member() {
            /**
             * @TODO 회원 기본 정보 조회 API 호출
             */
            await fetch('/member', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(date => {
                console.log(date);
                memberInfor = date.result;
                const nickName = document.getElementById('name');
                nickName.textContent = memberInfor.nickName;
            }).catch(error => console.log(error));
        }

        let memberDataList = [];
        memberDatas();
        const container = document.getElementById('container');
        async function memberDatas() {
            /**
             * @TODO 친구 조회 API 호출
             */
            await fetch(`/member/all`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                }
            }).then(response => response.json()).then(data => {
                console.log(data.result);

                let interestEnumValue = null;
                let interest = '';
                data.result.forEach(member => {
                    member.interests.forEach((i, number) => {
                        switch (i) {
                            case 'MUSIC':
                                interestEnumValue = '음악';
                                break;
                            case 'GAME':
                                interestEnumValue = '게임';
                                break;
                            case 'MOVIEDRAMA':
                                interestEnumValue = '영화/드라마';
                                break;
                            case 'READING':
                                interestEnumValue = '독서';
                                break;
                            case 'ART':
                                interestEnumValue = '예술';
                                break;
                            case 'WORKOUT':
                                interestEnumValue = '운동';
                                break;
                            case 'TRAVEL':
                                interestEnumValue = '여행';
                                break;
                            case 'FOODEXPLORATION':
                                interestEnumValue = '맛집 탐방';
                                break;
                            case 'IT':
                                interestEnumValue = 'IT';
                                break;
                        }
                        if (number !== member.interests.length - 1) interest += `${interestEnumValue}, `;
                        else interest += `${interestEnumValue}`;
                    });

                    memberDataList.push({
                        id: member.memberId,
                        profileUrl: member.profileUrl,
                        nickName: member.nickName,
                        age: member.age,
                        gender: member.gender,
                        introduction: member.introduction,
                        interest: interest,
                    });
                    interest = '';
                });
            }).catch(error => console.log(error));
            setMemberElement();
        }

        function setMemberElement() {
            let count = 0;
            const card = document.getElementById('card');
            memberDataList.forEach((data, number) => {
                const friendCard = document.createElement('div');
                friendCard.className = 'friend-card';

                const profilePicDiv = document.createElement('div');
                profilePicDiv.className = 'profile-pic bear-profile';

                const profileImg = document.createElement('img');
                profileImg.src = data.profileUrl;
                profileImg.alt = 'profile-icon';
                profileImg.id = `profileImage${number}`;
                profilePicDiv.appendChild(profileImg);

                const userInfoDiv = document.createElement('div');
                userInfoDiv.className = 'user-info';

                const userNameDiv = document.createElement('div');
                userNameDiv.className = 'user-name';

                const nameP = document.createElement('p');
                nameP.id = `name${number}`;
                nameP.textContent = data.nickName;

                const genderAgeSpan = document.createElement('span');
                genderAgeSpan.id = `genderAndAge${number}`;
                genderAgeSpan.textContent = `${data.gender} (${data.age})`;

                userNameDiv.appendChild(nameP);
                userNameDiv.appendChild(genderAgeSpan);

                const userBioDiv = document.createElement('div');
                userBioDiv.className = 'user-bio';
                userBioDiv.id = `introduction${number}`;
                userBioDiv.textContent = data.introduction;

                const categoryDiv = document.createElement('div');
                categoryDiv.className = 'category';

                const interestIcon = document.createElement('img');
                interestIcon.src = '/images/Interest-Icon.png';
                interestIcon.alt = 'interest-icon';

                const interestP = document.createElement('p');
                interestP.className = 'interest';
                interestP.id = `interest${number}`;
                interestP.textContent = data.interest;

                categoryDiv.appendChild(interestIcon);
                categoryDiv.appendChild(interestP);

                userInfoDiv.appendChild(userNameDiv);
                userInfoDiv.appendChild(userBioDiv);
                userInfoDiv.appendChild(categoryDiv);

                const matchButtonDiv = document.createElement('div');
                matchButtonDiv.className = 'match-rate-and-button';

                const detailBtn = document.createElement('button');
                detailBtn.className = 'detail-btn';
                detailBtn.textContent = '상세 정보';
                detailBtn.onclick = function() {
                    location.href = '/FriendDetailsInfor.html';
                };

                matchButtonDiv.appendChild(detailBtn);

                friendCard.appendChild(profilePicDiv);
                friendCard.appendChild(userInfoDiv);
                friendCard.appendChild(matchButtonDiv);
                card.appendChild(friendCard);
                count += 100;
                container.style.height = `calc(100% + ${count}px)`;
            });
        }
        setMemberElement();

        function notice() {
            window.location.href = '/UserNotice.html';
        }
    </script>
</body>
</html>
