<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katsee</title>
    <link rel="stylesheet" href="/static/user/UserNotice.css">
</head>
<body>
    <div class="container">
        <div class="header"><div class="title">공지사항</div></div>

        <div class="subtitle">공지사항 목록</div>
        <div class="notice-list" id="notice-list"></div>

        <div class="navigation">
            <a href="/FriendRecommend.html" class="nav-item">
                <img src="/static/images/Friends.png" alt="" class="icon">
                친구 추천
            </a>
            <a href="/RequestList.html" class="nav-item">
                <img src="/static/images/Love.png" alt="" class="icon">
                친구 요청
            </a>
            <a href="/UserHome.html" class="nav-item active">
                <img src="/static/images/home1.png" alt="" class="icon">
                홈
            </a>
            <a href="/ChattingList.html" class="nav-item">
                <img src="/static/images/Chat.png" alt="" class="icon">
                채팅
            </a>
            <a href="/MyPage.html" class="nav-item">
                <img src="/static/images/User.png" alt="" class="icon">
                마이페이지
            </a>
        </div>
    </div>

    <script>
        // 테스트 초기 데이터
        let memberDataList = [
            {
                id: 'test1',
                image: '/static/images/TestImage.png',
                title: '이번주 특별 이벤트',
                content: '이번주 특별 이벤트가 있습니다! 참여하고 싶으신 분들은 메일 주세요!',
                createAt: '2025.03.23',
                member: {
                    id: 'test2',
                    profileUrl:'/static/images/ProfileImage.png',
                    name: '남길동',
                    age: 20,
                    gender: '남',
                    introduction: '안녕하세요. 현재 개발자로 일하고 있습니다!',
                    interest: 'IT'
                }
            },
            {
                id: 'test1',
                image: '/static/images/TestImage.png',
                title: '이번주 특별 이벤트',
                content: '이번주 특별 이벤트가 있습니다! 참여하고 싶으신 분들은 메일 주세요!',
                createAt: '2025.03.23',
                member: {
                    id: 'test2',
                    profileUrl:'/static/images/ProfileImage.png',
                    name: '남길동',
                    age: 20,
                    gender: '남',
                    introduction: '안녕하세요. 현재 개발자로 일하고 있습니다!',
                    interest: 'IT'
                }
            }
        ];

        function noticeData() {
            /**
             * @TODO 공지사항 목록 조회 API 호출
             */

            memberDataList.push({
                id: 'test1',
                image: null,
                title: '이번주 특별 이벤트',
                content: '이번주 특별 이벤트가 있습니다! 참여하고 싶으신 분들은 메일 주세요!',
                createAt: '2025.03.23',
                member: {
                    id: 'test2',
                    profileUrl:'/static/images/ProfileImage.png',
                    name: '남길동',
                    age: 20,
                    gender: '남',
                    introduction: '안녕하세요. 현재 개발자로 일하고 있습니다!',
                    interest: 'IT'
                }
            });
        }

        function setMemberElement() {
            const card = document.getElementById('notice-list');
            memberDataList.forEach((data, number) => {
                const noticeCard = document.createElement('div');
                noticeCard.className = 'notice-card';

                const noticeImage = document.createElement('div');
                noticeImage.className = 'notice-image';

                const imgElement = document.createElement('img');
                imgElement.src = data.image;
                imgElement.alt = '';
                imgElement.className = 'image-icon';
                noticeImage.appendChild(imgElement);

                const noticeContent = document.createElement('div');
                noticeContent.className = 'notice-content';

                const noticeTitle = document.createElement('div');
                noticeTitle.className = 'notice-title';
                noticeTitle.textContent = data.title;
                noticeContent.appendChild(noticeTitle);

                const noticeDescription = document.createElement('div');
                noticeDescription.className = 'notice-description';
                noticeDescription.textContent = `${data.content.substring(0, 26)}..`;
                noticeContent.appendChild(noticeDescription);

                const noticeButton = document.createElement('button');
                noticeButton.className = 'notice-button';
                noticeButton.textContent = '자세히 보기';
                noticeButton.onclick = () => nextPage();

                noticeCard.appendChild(noticeImage);
                noticeCard.appendChild(noticeContent);
                noticeCard.appendChild(noticeButton);
                card.appendChild(noticeCard);
            });
        }
        setMemberElement();

        function nextPage() {
            window.location.href = '/UserNoticeDetailsSelect.html';
        }
    </script>
</body>
</html>